.btn-container{
  // width: 25%;
  .btn {
    margin-right: 10px;
  }
}

.navbar{
  padding: 1rem;
}


.user-logged {
  color: white;
  margin-right: 1rem;
}

.nav-link {

    cursor: pointer;

}


.btn-cad {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
