<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="../../../assets/images/pexels-pixabay-270348.jpg" alt="" />
      <h1>{{ course.name }}</h1>
      <p>{{ course.description }}</p>
      <hr />
      <h3>Professor: {{ course.teacher.name }}</h3>
      <h3>Alunos:</h3>
      <ul>
        <li *ngFor="let student of course.students">
          {{ student.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Aulas</h5>
            <a class="btn btn-outline-dark" (click)="newLecture()">Nova aula</a>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let lecture of lectures"
            (click)="loadLecture(lecture)"
          >
            {{ lecture.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <dialog #modal class="rounded shadow">
    <div class="content-lecture" *ngIf="lecture">
      <h1>{{ lecture.title }}</h1>
      <p>{{ lecture.content }}</p>
      <a (click)="closeModal()">Sair</a>
    </div>
  </dialog>


  <dialog #modal2 class="rounded shadow">
    <div class="content-lecture">
      <h1>Nova aula</h1>
      <form (ngSubmit)="saveLecture()" [formGroup]="formLecture">
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Título da aula"
            formControlName="title"

          />
        </div>
        <div class="form-group">
          <label for="content">Conteúdo</label>
          <textarea
            class="form-control"
            id="content"
            rows="3"
            formControlName="content"

          ></textarea>
          <button type="submit" class="btn btn-outline-dark mt-4 d-block w-50">
            Salvar
          </button>
        </div>
      </form>
    </div>
  </dialog>
</div>
